includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
    level: 5
    treatPhpDocTypesAsCertain: false

    excludePaths:
        - app/Services/Auth/Authentication.php
    checkMissingIterableValueType: false



